@import "../util/animations";

.la-benefits {
  display: flex;
  margin: 100px;

  @include responsive-sm {
    flex-direction: column;
  }
  @include responsive-xs {
    flex-direction: column;
  }

  .la-benefits__svg-1,
  .la-benefits__svg-2 {
    width: 350px;
    position: absolute;
    opacity: 0.8;
  }

  .la-benefits__svg-1 {
    left: -60px;
    bottom: -800px;
  }
  .la-benefits__svg-2 {
    right: -230px;
    bottom: -1000px;
  }

  .la-benefits__img-3,
  .la-benefits__img-4,
  .la-benefits__img-5 {
    position: absolute;

    @include responsive-sm {
      display: none;
    }
    @include responsive-xs {
      display: none;
    }
  }

  .la-benefits__img-3 {
    left: 130px;
    bottom: -750px;
    // @include animate-scale-down(300ms);
  }
  .la-benefits__img-4 {
    left: 350px;
    bottom: -900px;
    // @include animate-scale-down(1100ms);
  }
  .la-benefits__img-5 {
    left: 300px;
    bottom: -650px;
    // @include animate-scale-down(700ms);
  }

  .la-benefits__header {
    padding: 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    @include will-animate-y;

    h2 {
      margin-top: 20px;
    }
    p {
      margin: 50px 0;
      line-height: 1.5;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.3;
  }

  .la-benefits__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include will-animate-y;

    .la-benefits__box-1,
    .la-benefits__box-2,
    .la-benefits__box-3,
    .la-benefits__box-4 {
      padding: 50px;
      display: flex;
      flex-direction: column;

      @include responsive-md {
        padding: 20px;
      }
    }

    .la-benefits__box-1,
    .la-benefits__box-2 {
      // @include animate-scale-down(600ms);
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 600ms forwards;
    }

    .la-benefits__box-3,
    .la-benefits__box-4 {
      height: 50%;
      // @include animate-scale-down(900ms);
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 900ms forwards;
    }

    h4 {
      margin-bottom: 40px 0;
    }
  }

  i {
    font-size: 35px;
    position: relative;
    margin-bottom: 20px;

    img {
      opacity: 0.3;
      width: 65px;
      position: absolute;
      left: -15px;
      top: -15px;
    }
  }
}
