header {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  background: $color-bg;
  position: relative;

  .la-header {
    margin: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    opacity: 0;
    animation: fade-up 2000ms $easeOutBack 300ms forwards;

    > div {
      @include hover-scale-01;
    }

    @include responsive-sm {
      margin: 0;
    }
    @include responsive-sm {
      margin: 0;
    }

    h1,
    p {
      @include responsive-sm {
        width: 100%;
      }
      @include responsive-xs {
        width: 100%;
      }
    }

    h1 {
      width: 50%;
      margin: 20px;
      text-align: center;
    }
    p {
      width: 40%;
      font-size: 14px;
      line-height: 2;
      text-align: center;

      @include responsive-md {
        width: 50%;
        font-size: 12px;
        line-height: 1.5;
      }
    }
  }

  .la-header__svg-1,
  .la-header__svg-2,
  .la-header__svg-3 {
    position: absolute;
    opacity: 0.8;
  }

  .la-header__svg-1 {
    width: 110px;
    top: 300px;
    left: 160px;
  }
  .la-header__svg-2 {
    width: 30px;
    top: 180px;
    right: 300px;
  }
  .la-header__svg-3 {
    width: 80px;
    top: 520px;
    right: 160px;
  }

  .la-header__columns {
    margin: 0 100px;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    position: relative;
    z-index: 3;

    @include responsive-md {
      margin: 0;
    }
    @include responsive-sm {
      flex-direction: column;
      margin: 0;
    }
    @include responsive-xs {
      flex-direction: column;
      margin: 0;
    }

    .la-header__svg-4 {
      width: 350px;
      position: absolute;
      top: -100px;
      left: 300px;
      z-index: 3;
      opacity: 0.2;

      @include responsive-md {
        left: 150px;
      }
      @include responsive-sm {
        left: 150px;
      }
    }
    .la-header__svg-5 {
      width: 380px;
      position: absolute;
      top: -40px;
      left: 530px;
      z-index: 1;
      opacity: 0.3;

      @include responsive-md {
        left: 400px;
      }
      @include responsive-sm {
        left: 400px;
      }
    }
    .la-header__svg-6 {
      width: 300px;
      position: absolute;
      top: 120px;
      left: 450px;
      z-index: 1;
      opacity: 0.6;

      @include responsive-md {
        left: 300px;
      }
      @include responsive-sm {
        left: 300px;
      }
    }

    .la-header__col-1,
    .la-header__col-2,
    .la-header__col-3 {
      width: 40%;
      margin: 20px;
      display: flex;
      flex-direction: column;

      @include responsive-sm {
        width: 100%;
      }
      @include responsive-xs {
        width: 100%;
      }
    }

    .la-header__col-1 {
      z-index: 2;
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 600ms forwards;
    }

    .la-header__col-2 {
      background: $color-white;
      color: $color-gray;
      z-index: 2;
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 800ms forwards;

      div:first-child {
        height: 30%;
        padding: 20px;
        margin-bottom: 20px;
      }

      div:last-child {
        height: 60%;
        h2 {
          font-size: 30px;
          margin-bottom: 0;
          padding: 20px 20px 0 20px;
        }
        p {
          margin-top: 0;
          padding: 20px;
          font-size: 13px;
        }
      }
    }

    .la-header__col-3 {
      z-index: 2;
      opacity: 0;
      animation: fade-up 2000ms $easeOutBack 1000ms forwards;

      p:last-child {
        font-size: 11px;
      }
    }
  }

  .la-header__tab {
    height: 20%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $color-white;
    color: $color-gray;
    z-index: 1;

    p {
      flex: 0 0 40px;
      padding: 10px;
      align-items: center;
      font-size: 18px;
    }
    h6 {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
    }
    i {
      flex: 0 0 40px;
      padding: 20px;
      font-size: 18px;
      color: $color-orange;
    }

    &:hover {
      font-weight: 600;
      box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;

      p,
      i {
        color: $color-yellow;
      }
      h6 {
        font-weight: 600;
      }
    }
  }
}
