header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: orange;

  .la-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      width: 100%;
      text-align: center;
      // background: pink;
    }
  }

  .la-header__columns {
    display: flex;
    flex: 1 0 auto;
    // margin: 30px 50px;

    .la-header__col-1,
    .la-header__col-2,
    .la-header__col-3 {
      margin: 20px;
      display: flex;
      flex-direction: column;
    }

    .la-header__col-1 {
      background: cadetblue;
    }
    .la-header__col-2 {
      background: mediumorchid;
    }
    .la-header__col-3 {
      background: mediumspringgreen;
    }
  }
}
