.la-join {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .la-join__svg-1,
  .la-join__svg-2,
  .la-join__svg-3,
  .la-join__svg-4,
  .la-join__svg-5,
  .la-join__svg-6,
  .la-join__svg-7,
  .la-join__svg-8,
  .la-join__svg-9,
  .la-join__svg-10 {
    position: absolute;
  }

  .la-join__svg-1,
  .la-join__svg-2,
  .la-join__svg-3,
  .la-join__svg-4 {
    width: 65px;
    opacity: 0.8;
  }

  .la-join__svg-1 {
    top: 150px;
    left: 100px;
  }
  .la-join__svg-2 {
    top: 400px;
    left: 220px;

    @include responsive-sm {
      left: 200px;
    }
    @include responsive-xs {
      top: 420px;
      left: 130px;
    }
  }
  .la-join__svg-3 {
    right: 200px;
    bottom: 100px;

    @include responsive-xs {
      right: 100px;
      bottom: 120px;
    }
  }
  .la-join__svg-4 {
    right: 140px;
    bottom: 400px;
  }

  .la-join__svg-5 {
    top: 80px;
    left: 270px;
  }
  .la-join__svg-6 {
    top: 300px;
    left: 60px;
  }
  .la-join__svg-7 {
    top: 250px;
    left: 350px;
  }
  .la-join__svg-8 {
    right: 430px;
    bottom: 180px;
  }
  .la-join__svg-9 {
    right: 230px;
    bottom: 250px;
  }
  .la-join__svg-10 {
    right: 330px;
    bottom: 430px;
  }

  .la-join__svg-7,
  .la-join__svg-8 {
    @include responsive-md {
      display: none;
    }
  }
  .la-join__svg-5,
  .la-join__svg-7,
  .la-join__svg-8,
  .la-join__svg-9 {
    @include responsive-sm {
      display: none;
    }
  }
  .la-join__svg-10,
  .la-join__svg-7,
  .la-join__svg-8,
  .la-join__svg-9 {
    @include responsive-xs {
      display: none;
    }
  }

  .la-join__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-top: 20px;
    }

    p {
      width: 50%;
      margin: 50px 0;
      font-size: 13px;
      line-height: 1.6;
      text-align: center;
    }
  }
}
