nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: $color-bg;

  .la-nav__logo {
    width: 60px;
    height: 60px;
    background-image: url("asset/artlab.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: left-to-right 2500ms $easeOutBack 500ms forwards;
  }

  .la-nav__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: right-to-left 2000ms $easeOutBack 400ms forwards;

    .la-nav__tab {
      margin-right: 20px;
      @include hover-scale-01;

      .material-icons {
        margin-right: 10px;
        font-size: 15px;
      }
    }
  }
}
